<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "user", user: current_user %>
    </div>
    
    <div class="col-5">
     <table>
      <tr>
        <th>
          <h3>name</h3>
        </th>
        <% @users.each do |user| %>
         <td><%= image_tag user.get_profile(100, 100) %></td>
         <td><%= user.name %></td>
        <% end %>
       </tr>
     </table>
    </div>
  </div>
  
</div>
