<div class="container mt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-3">
      <%= render "user", user: @user %>
      <%= render "magazines/make", magazine: @magazine %>
    </div>

    <div class="col-8 ml-5">
     <%= render "magazines/magazines", magazines: @magazines %>
    </div>
  </div>
</div>

